h1 {
    background-color: #4aaaa5;
    color: white;
    padding: 40px 10px 10px 10px;
    width: 170px;
    height: 40px;
    margin-left: 32%;
    float: left;
    font-size: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.topnav {
    float: right;
    margin-top: 80px;
    padding: 5px;
    margin-right: 170px;
    font-size: 16px;
    text-align: center;
}

.topnav a {
    color: #777777;
    text-decoration: none;
}

h2 {
    margin-left: 33%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    clear: both;
    color: #4aaaa5;
    font-size: 18px;
}

hr {
    margin-left: 22%;
    width: 840px;
}


.picture1 {
    position: relative;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 33%;
    padding-right: 20px;
    padding-bottom: 10px;
}

.text1 {
    position: absolute;
    clear: both;
    margin-left: 33%;
    margin-top: 80px;
    width: 100px;
    height: 20px;
    color: white;
}

.picture2 {
    position: relative;
    height: 100px;
    width: 100px;
    float: left;
    margin-top: -18px;
    margin-left: 5px;
    padding-bottom: 20px;
    transform: rotate(180deg);
}

.text2 {
    position: absolute;
    clear: both;
    margin-left: 45%;
    margin-top: 80px;
    width: 100px;
    height: 20px;
    color: white;
}

.picture3 {
    transform: rotate(180deg);
    clear: both;
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 475px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.text3 {
    position: absolute;
    clear: both;
    margin-left: 33%;
    margin-top: 200px;
    width: 100px;
    height: 20px;
    color: white;
}

.picture4 {
    float: left;
    height: 100px;
    width: 100px;
    margin-top: 22px;
    margin-left: 23px;
    padding-bottom: 20px;
}

.text4 {
    position: absolute;
    clear: both;
    margin-left: 45%;
    margin-top: 200px;
    width: 100px;
    height: 20px;
    color: white;
}

.picture5 {
    clear: both;
    float: left;
    height: 100px;
    width: 100px;
    padding-bottom: 200px;
    margin-left: 33%;
    margin-top: 5px;
    margin-bottom: 200px:
}

.text5 {
    position: absolute;
    clear: both;
    margin-left: 33%;
    margin-top: 300px;
    width: 100px;
    height: 20px;
    color: white;
}

footer {
    background-color: #666666;
    clear: both;
    width: 100%;
    color: #777777;
    margin-bottom: 0;
    height: 30px;
    text-align: center;
    padding: 20px 20px 0px 20px;
    font-size: 12px;
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
