body {
    background-image: "C:\Users\davew\Desktop\BPort\page 1\criss-cross.png";
    background-color: beige;
}

.div1 {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: 125px;
    margin-bottom: 2px;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    padding-left: 5px;
    margin-top: -10px;
    width: 170px;
    height: 30px;
    margin-left: 32%;
    float: left;
    font-size: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.topnav {
    float: right;
    margin-top: 15px;
    padding: 5px;
    margin-right: 170px;
    font-size: 16px;
    text-align: center;
}

.topnav a {
    color: #777777;
    text-decoration: none;
}

#AboutMe {
    background-color: #ffffff;
    width: 825px;
    margin-left: 490px;
    margin-right: 600px;
    margin-top: 40px;
    margin-bottom: 50px;
    height: 800px;
    padding: 20px;
    border: 30px #dddddd;
}

h2 {
    margin-left: 5px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    clear: both;
    color: #4aaaa5;
    font-size: 18px;
}

hr {
    margin-left: 10px;
    width: 825px;
}


.picture1 {
    position: relative;
    height: 200px;
    width: 200px;
    float: left;
    margin-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.text1 {
    position: absolute;
    clear: both;
    background-color: #4aaaa5;
    margin-left: 11px;
    margin-top: 150px;
    width: 195px;
    height: 35px;
    text-align: center;
    padding: 2px;
    padding-top: 5px;
    color: white;
}

.picture2 {
    position: relative;
    height: 200px;
    width: 200px;
    float: left;
    margin-top: -18px;
    margin-left: 5px;
    padding-bottom: 20px;
    transform: rotate(180deg);
}

.text2 {
    position: absolute;
    clear: both;
    background-color: #4aaaa5;
    margin-left: 235px;
    margin-top: 150px;
    text-align: center;
    width: 195px;
    height: 35px;
    padding: 2px;
    padding-top: 5px;
    color: white;
}

.picture3 {
    transform: rotate(180deg);
    clear: both;
    float: left;
    height: 200px;
    width: 200px;
    margin-left: -5px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.text3 {
    position: absolute;
    clear: both;
    background-color: #4aaaa5;
    margin-left: 14px;
    margin-top: 380px;
    width: 195px;
    height: 35px;
    text-align: center;
    padding: 2px;
    padding-top: 5px;
    color: white;
}

.picture4 {
    float: left;
    height: 200px;
    width: 200px;
    margin-top: 22px;
    margin-left: 23px;
    padding-bottom: 20px;
}

.text4 {
    position: absolute;
    clear: both;
    background-color: #4aaaa5;
    margin-left: 238px;
    margin-top: 380px;
    text-align: center;
    width: 195px;
    height: 35px;
    padding: 2px;
    padding-top: 5px;
    color: white;
}

.picture5 {
    clear: both;
    float: left;
    height: 200px;
    width: 200px;
    padding-bottom: 200px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 200px:
}

.text5 {
    position: absolute;
    clear: both;
    background-color: #4aaaa5;
    margin-left: 11px;
    margin-top: 605px;
    width: 195px;
    height: 35px;
    text-align: center;
    padding: 2px;
    padding-top: 5px;
    color: white;
}

footer {
    background-color: #666666;
    clear: both;
    width: 100%;
    color: #777777;
    margin-bottom: 0;
    border-top: 10px solid #4aaaa5;
    height: 30px;
    text-align: center;
    padding: 20px 20px 0px 20px;
    font-size: 12px;
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
