body {
    background-image: "C:\Users\davew\Desktop\BPort\page 1\criss-cross.png";
    background-color: beige;
}

.div1 {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: 125px;
    margin-bottom: 2px;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    padding-left: 5px;
    width: 170px;
    height: 30px;
    margin-top: -10px;
    margin-left: 32%;
    float: left;
    font-size: 22px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.topnav {
    float: right;
    margin-top: 10px;
    padding: 5px;
    margin-right: 170px;
    font-size: 16px;
    text-align: center;
}

.topnav a {
    color: #777777;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {
    margin-left: 33%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    clear: both;
    color: #4aaaa5;
    font-size: 20px;
    margin-bottom: 20px;
}

hr {
    margin-left: 21%;
    width: 840px;
}

input {
    margin-left: 33%;
    width: 840px;
    margin-bottom: 10px;
}

label {
    margin-left: 33%;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#message {
    margin-left: 33%;
    width: 840px;
    height: 200px;
}

h3 {
    margin-left: 33%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: white;
    width: 80px;
    height: 30px;
    padding: 15px 15px 10px 3px;
    text-align: center;
    font-size: 14px;
}

footer {
    background-color: #666666;
    clear: both;
    width: 100%;
    border-top: 10px solid green;
    color: #777777;
    margin-top: 10%;
    margin-bottom: 0;
    height: 30px;
    text-align: center;
    padding: 20px 20px 0px 20px;
    font-size: 12px;
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
